---
import Layout from '../../layouts/Layout.astro';
import Comments from '../../components/Comments.astro';
---
<Layout title="O Que Fazer | Guia de Cambará" description="Canyons e trilhas imperdíveis.">
  <div class="container" style="padding: 40px 20px;">
    <h1>O Que Fazer em Cambará do Sul</h1>
    <p>Descubra os roteiros para o Canyon Fortaleza e Itaimbezinho.</p>
    <Comments />
  </div>
</Layout>